[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=speedcrunch
Icon=/usr/share/icons/hicolor/90x90/apps/speedcrunch.png
Exec=speedcrunch

